@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
}
.max-width
{
 
 max-width:1300px;
 padding: 0 10px;
 margin-left:100px;
 font-family:'poppins';
}
.max-width1
{
 
 max-width:1300px;
 font-family:'poppins';
}
.navbar
{
position:fixed;
width:100%;
padding:8px 0;
background:white;

}
.navbar .logo img-responsive2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.navbar .max-width{
display:flex;
align-items:center;
justify-content:space-between;

}

.navbar .menu li{
list-style:none;
display:inline-block;
}

.Button1{
  background-color: black;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  background: transparent;
  box-shadow: 0 0 3px gray;
}
.firstpage
{
 display:flex;
 background:black;
 height:100vh;
 color:white;
 min-height:500px;
}
.firstpage1{
display:flex;
 background:black;
 height:100vh;
 color:white;
 min-height:500px;
}
.firstpage .max-width
{
 margin: 300px 0 auto 100px;
 margin-left:150px;
 
}
.firstpage1 .max-width1
{
 margin: 300px 0 auto 100px;
 margin-left:150px;
 
}
.Firstpage .Firstpage-content .text-1{
 font-size:60px;

}
.Firstpage .Firstpage-content .text-2{
 font-size:60px;

}
.Firstpage .Firstpage-content .text-3{
 font-size:60px;

}
.Firstpage .Firstpage-content .text-4{
 font-size:30px;

}
.Firstpage .Firstpage-content .text-5{
 font-size:30px;
 font-weight:10%;
 margin-top: -120px;

}
.Firstpage .Firstpage-content .text-7{

 font-size:60px;
 margin-left:200px;
 margin-top: -200px;
}
.Firstpage .Firstpage-content .text-9{

 font-size:60px;
 margin-left:200px;
}

.Firstpage .Firstpage-content .text-8{
 font-size:25px;
 margin-left:200px;

}
.Firstpage1 .Firstpage-content1 .text-8{
 font-size:15px;
 margin-left:200px;
 margin-top:-250px;

}
.Firstpage1 .Firstpage-content1 .text-9{
 font-size:15px;
 margin-left:200px;

}
.Button2{
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  background: gray;
  font-size:20px;
  color:white;
  width: 200px;
  height: 60px;
}
.img-res3{
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin-top: -80px;
    margin-left: 500px; 
}
.img-res4{
    width: 100px;
    height: 300px;
    overflow: hidden;
    margin-top: -10px;
    margin-left: 500px; 
}
.img-res5{
    width: 250px;
    height: 400px;
    overflow: hidden;
    margin-top: -40px;
    margin-left:50px; 
}
.img-res6{
    width: 280px;
    height: 500px;
    overflow: hidden;
    margin-top: -100px;
    margin-left:400px; 
}
.img-res7{
    width: 280px;
    height: 500px;
    overflow: hidden;
    margin-top:-200px; 
}
.img-res10{
    width: 800px;
    height: 790px;
    overflow: hidden;
    margin-top:-300px; 
}
span
{
color:red;
}
.input1{
  margin-top:40px;
  background: transparent;
  color:white;
  position: relative;
  border: 1px solid #FFF;
  display: inline-block;
  border:none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  margin-left:200px;
  align-items:center;
  width:400px;
  height:50px;
}
.input2{
  background: transparent;
  color:white;
  position: relative;
  border: 1px solid #FFF;
  display: inline-block;
  border:none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  margin-left:200px;
  align-items:center;
  width:200px;
  height:50px;
}

.input3{
  background: transparent;
  color:white;
  position: relative;
  border: 1px solid #FFF;
  display: inline-block;
  border:none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  margin-left:20px;
  align-items:center;
  width:180px;
  height:50px;
}

.inputreg{
  background: transparent;
  color:white;
  position: relative;
  border: 1px solid #FFF;
  display: inline-block;
  border:none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  margin-left:200px;
  align-items:center;
  width:400px;
  height:50px;
}
.label1
{
color:red;
font-size:10px;
margin-left:200px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-size:15px;
  margin-bottom:10px;
}
.oneline
{
display:flex;

}
.inputimg{
margin-left:200px;
}
.label2{
margin-left:20px;
font-size:15px;
color:gray;
}
.label3{
margin-left:200px;
font-size:10px;
color:gray;
}
.label5{
margin-left:5px;
font-size:15px;
color:white;
}

.button5
{
 color:white;
 background:green;
 align-items:center;
 margin-left:200px;
 height:40px;
 width:80px;

}

.Firstpage .max-width{
display:flex;
align-items:center;
justify-content:space-between;
}
.Firstpage1 .max-width1{
display:flex;
align-items:left;
justify-content:space-between;
margin-left:0px;
}
